/**
* * header start
**/
header, .header-top, .header-main {
  background-color: #fff;
  position: relative;
  z-index: 100;
}
header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-top .wrap {
  display: flex;
  align-items: center;
}
.top-menu {
  display: flex;
}
.top-menu .menu-item {
  margin: 13px 8px;
  line-height: 100%;
}
.top-menu .menu-item:first-child {
  margin-left: 0;
}
.top-menu .menu-link {
  font-size: 14px;
  color: #7A7687;
}
.top-menu .menu-link:hover {
  color: #1A142D;
}
.menu-break {
  width: 100%;
}
.header-toolbar {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: -8px;
}
.header-main {
  border-top: 1px solid #F0EEF5;
  border-bottom: 1px solid #F0EEF5;
  position: relative;
}
.header-main > .wrap {
  display: flex;
  padding-left: 0;
}
.header-main__right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-main__right .btn + .btn {
  margin-left: 8px;
}
.header-main__right .popover-group {
  margin-left: 24px;
}
@media screen and (min-width: 768px) {
  .header-main__right .popover-group .btn-city-popover {
    padding: 0;
  }
}
.header-logo {
  max-width: 238px;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #E1DFE7;
}
.header-logo__text {
  margin-left: 8px;
  transition: 0.2s all ease-in-out;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-logo__text {
    display: none;
  }
}
.header-logo:hover {
  opacity: 0.75;
}
@media screen and (min-width: 1280px) {
  body.scrolled .header-logo__text {
    width: 0;
    margin-left: 0;
    opacity: 0;
  }
}
.main-menu {
  display: flex;
  margin-left: 12px;
}
.main-menu .menu-item.has-submenu .menu-link .menu-link-inner::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 7px;
  height: 7px;
  margin-top: -3px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  pointer-events: none;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  right: 15px;
}
.main-menu .menu-link {
  display: block;
  padding: 24px 32px 24px 12px;
  line-height: 1;
  font-weight: 500;
  position: relative;
}
.main-menu .menu-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - 24px);
  height: 1.5px;
  background-color: #6547C3;
  opacity: 0;
  transition: 0.2s all ease-in-out;
  z-index: 100;
}
.main-menu .submenu-outer {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 1px;
  background-color: #fff;
  z-index: 99;
  width: 100%;
  padding: 48px 0;
  visibility: hidden;
  opacity: 0;
  max-height: 300px;
  transform: translateY(-15px);
  transition: 0.2s all ease-in-out;
}
.main-menu .submenu-block {
  margin-bottom: 24px;
}
.main-menu .submenu-title {
  line-height: 20px;
}
.main-menu .submenu-title a {
  text-decoration: none;
  font-size: 14px;
  color: #7A7687;
}
.main-menu .submenu-title a:hover {
  color: #6547C3;
}
.main-menu .submenu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
}
.main-menu .submenu-item {
  margin: 8px 30px 8px 0;
}
.main-menu .submenu-link {
  font-weight: 500;
}
.main-menu .submenu-link:hover {
  color: #6547C3;
}
@media screen and (min-width: 768px) {
  .main-menu .menu-item.has-submenu.current .menu-link {
    color: #6547C3;
  }
  .main-menu .menu-item.has-submenu.current .menu-link .menu-link-inner::after {
    transform: rotate(225deg);
  }
  .main-menu .menu-item.current .menu-link::before {
    opacity: 1;
  }
  .main-menu .menu-item.has-submenu .submenu-outer.is-visible {
    visibility: visible;
    opacity: 1;
    max-height: none;
    transform: translateY(0);
  }
}
.city-popover-group {
  text-align: center;
}
.city-popover-group .popover {
  left: auto;
  right: 0;
}
.btn-city-popover:hover {
  color: #6547C3;
}
.header-dark-overlay {
  position: fixed;
  background-color: rgba(24, 23, 29, 0.64);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  transition: 0.2s all ease-in-out;
}
.header-dark-overlay.is-visible {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 1023px) {
  .header-main__right .btn-callback, .header-main__right .btn-phone {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .btn-callback-small {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .btn-menu-m, .btn-phone--hidden, .nav-group, .submenu-header {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header-top, .menu-break {
    display: none;
  }
  .header-logo {
    max-width: none;
    padding-left: 16px;
    padding-right: 16px;
    border-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .header-logo__icon {
    width: 28px;
    height: 28px;
  }
  .header-logo__text {
    width: 150px;
  }
  nav {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    top: 54px;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
  }
  nav.is-visible {
    display: block;
  }
  .main-menu {
    padding: 12px 0;
    flex-direction: column;
    margin: 0;
    border-bottom: 1px solid #F0EEF5;
  }
  .main-menu .menu-link {
    padding: 12px 16px;
  }
  .main-menu .menu-item.has-submenu .menu-link .menu-link-inner::after {
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    margin-top: -5px;
    right: 18px;
  }
  .main-menu .submenu-outer {
    position: fixed;
    padding: 0;
    background-color: #fff;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    transform: none;
  }
  .main-menu .submenu-outer.is-visible {
    visibility: visible;
    opacity: 1;
    max-height: none;
  }
  .main-menu .submenu {
    display: block;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .main-menu .submenu .submenu-item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    margin: 0 0 16px 0;
    padding-right: 20px;
    line-height: 1.1;
  }
  .main-menu .submenu .submenu-link {
    font-size: 14px;
    color: #7A7687;
    font-weight: 400;
  }
  .submenu-header {
    margin-top: 8px;
  }
  .submenu-header .btn-submenu-back {
    margin-bottom: 24px;
    width: 40px;
    height: 40px;
  }
  .submenu-header .title {
    padding-left: 16px;
    margin-bottom: 24px;
  }
  .main-menu .submenu-title a {
    font-size: 15px;
    color: #1A142D;
    margin-bottom: 8px;
    display: inline-block;
  }
  .header-main > .wrap {
    padding-right: 0;
  }
  .btn-menu-m {
    padding: 16px;
  }
  .header-main__right .popover-group, .btn-callback-small {
    display: none;
  }
  .btn-phone--hidden {
    width: 40px;
    height: 40px;
    padding: 8px !important;
  }
  .btn-phone--hidden svg {
    width: 22px;
    height: 22px;
  }
  .top-menu {
    margin-top: 8px;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 16px;
  }
  .top-menu .menu-item {
    width: 50%;
    margin: 10px 0;
  }
  header .btn-wish {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .nav-group__top {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 8px;
  }
  .nav-group__top button {
    margin-right: 8px;
  }
  .nav-group__top .popover-group {
    margin-left: auto;
  }
  .nav-group__top .popover-group .btn-city-popover {
    border: 1px solid #E1DFE7;
    border-radius: 100px;
  }
  .nav-group__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .nav-group__bottom .btn {
    margin: 8px 8px 8px 0;
    white-space: nowrap;
  }
}
@media screen and (max-width: 767px) and screen and (max-width: 413px) {
  .nav-group__bottom .btn {
    min-width: calc(50% - 8px);
  }
}
/**
* * header end
**/
/*# sourceMappingURL=header.css.map */