.tab-item {
  cursor: pointer;
}
.floating-tabs {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  margin-top: 0;
}
.floating-tabs .tab-item {
  background-color: #F0EFF4;
  color: #7A7687;
  font-weight: 500;
  cursor: pointer;
  /*         &:first-of-type span {
            background-color: $primarycolor;
            color: #fff;
        } */
}
.floating-tabs .tab-item:first-of-type {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.floating-tabs .tab-item:last-of-type {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.floating-tabs .tab-item span {
  display: block;
  border-radius: 50px;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: 0.2s all ease-in-out;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .floating-tabs .tab-item span {
    padding: 8px 16px;
    font-size: 14px;
  }
}
.floating-tabs .tab-item:hover span {
  color: #1A142D;
}
.floating-tabs .tab-item.active span {
  background-color: #6547C3;
  color: #fff;
}
.floating-tabs .tab-item.active:hover span {
  background-color: #6547C3 !important;
  color: #fff;
}
.floating-tabs.white-tabs .tab-item {
  background-color: #fff;
}
.floating-tabs.clicked .tab-item:not(.active) span {
  background-color: transparent;
  color: #70748a;
}
.floating-tabs.clicked .tab-item:not(.active):hover span {
  color: #1A142D;
}
.floating-tabs .tab-slider {
  display: none !important;
  /* temp */
  position: absolute;
  background-color: #6547C3;
  top: 0;
  bottom: 0;
  visibility: hidden;
  border-radius: 50px;
  z-index: 0;
  left: 0;
  width: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.floating-tabs.clicked .tab-slider {
  visibility: visible;
}
.floating-tabs.grey-color .tab-item {
  background-color: #74798e;
}
.floating-tabs.tabs-small .tab-item span {
  padding: 3px 10px;
}
@media screen and (max-width: 767px) {
  .floating-tabs .tab-item {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
}
h2 + .floating-tabs {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  h2 + .floating-tabs {
    margin-top: 12px;
  }
}
.floating-tabs + .content-list {
  margin-top: 20px;
}
.tab-content:not(.active) {
  display: none;
}
.dashed-tabs {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.dashed-tabs > * {
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.filter-tabs {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 8px 0 24px;
}
.filter-tabs .tab-item {
  margin: 16px 8px 0 0;
}
.filter-tabs .tab-item span {
  white-space: nowrap;
  font-weight: 500;
  display: block;
  border-radius: 50px;
  background-color: #F0EFF4;
  border: 1px solid #F0EFF4;
  padding: 8px 20px;
  color: #444;
  position: relative;
  z-index: 1;
  transition: 0.2s all ease-in-out;
}
@media screen and (max-width: 767px) {
  .filter-tabs .tab-item span {
    font-size: 14px;
    padding: 8px 14px;
  }
}
.filter-tabs .tab-item:not(.active):hover span {
  border-color: #1A142D;
  color: #1A142D;
}
.filter-tabs .tab-item.active span {
  background-color: #6547C3;
  color: #fff;
}
.filter-tabs.white-tabs .tab-item:not(.active):hover span {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #fff;
  color: #fff;
}
.filter-tabs.white-tabs .tab-item span {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
.filter-tabs.white-tabs .tab-item.active span {
  background-color: #fff;
  color: #6547C3;
}
/*# sourceMappingURL=tabs.css.map */