$sectiongap: 16px;
$flexgap: 8px;

$base-black:#1A142D;
$darkcolor:#1A142D;
$grey-100: #7A7687;
$grey-90: #B2AFBB;

$light-100: #F0EFF4;
$light-90: #F8F8FB;

$primarycolor: #6547C3;
$primarycolor--hover: #4F31AD;
$primarycolor--active: #40229D;
$primarycolor--disabled: #D8D0EF;

// обводка из макета
$stroke-primary: #E1DFE7;
$stroke-primary--on-grey: #D5D1E1; // основная на сером фоне
$stroke-secondary: #F0EEF5;
$stroke-secondary--on-grey: #E5E2EE; // второстепенная на сером фоне

$red: #EB3440;