@import "variables";
@import "mixins";

/**
* * footer
**/
.section-bg + footer {
    margin-top: 0;
}

footer {
    margin-top: $sectiongap * 2;
    @include mq("1024") {
        margin-top: $sectiongap * 3;
    }
    @include mq("1280") {
        margin-top: $sectiongap * 5.5;
    }
    background-color: #18171d;
    padding-top: 88px;
    @include mq(768, max) {
        padding-top: 64px;
        margin-top: 32px;
    }
    color: #fff;
}

.footer-menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 88px;
    padding-bottom: 48px;
    &__item {
        width: 100%;
        margin-bottom: 40px;
        &:not(:last-child) {
            padding-right: 16px;
        }

        @include mq(768) {
            width: 33%;
        }

        @include mq(1024) {
            width: 20%;
        }
        @include mq(768, max) {
        }
    }
    @include mq(1024, max) {
        padding-top: 64px;
        padding-bottom: 24px;
    }
}

.footer-item-title {
    margin: 0 0 12px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #636268;
}

.footer-submenu__item {
    margin-bottom: 4px;
    font-size: 14px;
}
.footer-submenu__link {
    color: #fff;
}

@include mq(768, max) {
    .footer-menu {
        padding-top: 48px;
    }
    .footer-menu__item {
        padding: 16px 0;
        border-bottom: 1px solid #34333d;
        margin-bottom: 0;
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
    .footer-submenu {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        &__item {
            font-size: 12px;
            margin-bottom: 8px;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid-column;
        }
    }
}

.footer-contacts {
    border-top: 1px solid #34333d;
    padding: 88px 0 88px;
    @include mq(1024, max) {
        padding-top: 64px;
        padding-bottom: 20px;
        text-align: center;
        h3 {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include mq(768, max) {
        padding-top: 36px;
        border-top: 0;
    }
}

footer h3 {
    margin-bottom: 1em;
}

.footer-contacts-outer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include mq(1024, max) {
        flex-direction: column-reverse;
    }
    @include mq(768, max) {
        flex-direction: column;
    }
}
.footer-contacts__info {
    display: flex;
    align-items: center;
    .btn:not(:last-child) {
        margin-right: 16px;
    }
    @include mq(1024, max) {
        width: 100%;
        .btn {
            padding: 11px 16px;
            flex-grow: 1;
            flex-basis: 33%;
            font-size: 14px;
        }
    }
    @include mq(768, max) {
        flex-direction: column;
        .btn {
            flex-basis: 100%;
            width: 100%;
            margin: 0 0 12px 0 !important;
        }
    }
}
.footer-socials {
    margin-right: 8px;
    @include mq(1024, max) {
        margin: 24px 0;
    }
    @include mq(768, max) {
        margin-top: 0;
        margin-bottom: 16px;
    }
    .btn-social {
        margin-right: 8px;
        svg {
            fill: #fff;
        }
        @include mq(1024, max) {
            width: 40px;
            height: 40px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.footer-copy {
    font-size: 12px;
    text-align: center;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column-reverse;
    @include mq(1024) {
        text-align: left;
        font-size: 14px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;
        border-top: 1px solid #34333d;
    }
}
.footer-copy,
.footer-copy a {
    color: #636268;
    text-decoration: none;
}
@include mq(1024) {
    .footer-copy a:not(:last-child) {
        margin-right: 16px;
    }
}

@include mq(1024, max) {
    .footer-copy__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }
}

@include mq(768, max) {
    footer h3 {
        font-size: 16px;
    }
}
